// References used in configs & process

params {
    // Defaults
     
    // workflow.output.mode    = 'copy' // uncomment to copy output files to output directory, rather than symlink to them (increases storage requirements if using --fetchSRR)

    // Input Manager
    pwd                     = env('PWD')
    tools                   = "${params.pwd}/downstream_processing/tools.py"

    user                    = env('USER')
    inputDir                = "/home/${params.user}/input"
    
    hostGenome              = "${params.inputDir}/genomes/host.fna"
    phageGenome             = "${params.inputDir}/genomes/phage.fna"
    hostGFF                 = "${params.inputDir}/genomes/host.gff"
    phageGFF                = "${params.inputDir}/genomes/phage.gff"

    pairedEnd               = false //if calling --pairedEnd, read pairs will be collected

    geo                     = false // allows fetching runs from a geo accession using the prefetch command from sra-tools
    // pigz                    = false // uses multicore gzip for compressing fastqs, requires pigz to be installed

    reads                   = "${params.inputDir}/reads/*.fastq.gz" // SampleID will be assigned as the text before/within the final wildcard. Downstream signalling pipeline expects '.fastq.gz' to NOT be part of the ID
    outputDir               = "/output"

    adapter1                = "AGATCGGAAGAGCACACGTCTGAACTCCAGTCA"
    adapter2                = "AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT"

    countFeature            = "gene"
    featureIdentifier       = "ID"

    // shows help message
    help                    = false
    // shows verbose help message
    verboseHelp             = false

    // Downstream Processing
    auto                    = false
    metaPath                = "${params.inputDir}/metadata/SraRunTable.csv"
    sampleDict              = "GSM6447614:0_R1, GSM6447615:0_R2, GSM6447616:0_R3, GSM6447617:1_R1, GSM6447618:1_R2, GSM6447619:1_R3, GSM6447620:4_R1, GSM6447621:4_R2, GSM6447622:4_R3, GSM6447623:7_R1, GSM6447624:7_R2, GSM6447625:7_R3, GSM6447626:20_R1, GSM6447627:20_R2, GSM6447628:20_R3"
    
    // Will ideally eventually be replaced with lifecycle-normalized values
    timeStart               = 0 // timepoint post infection of first sample
    timeEnd                 = 20 // timepoint post infection of last sample
    // timepoints after which genes are counted as middle or late (based on max or threshold of 20% expression)
    timeUntilMiddle         = (params.timeEnd - params.timeStart)/4 + params.timeStart
    timeUntilLate           = (params.timeEnd - params.timeStart)/2 + params.timeStart

    // Conda environments
    conda_path              = "/home/${params.user}/miniconda3/envs" // e.g. /home/user/miniconda3/envs --> important to direct down until envs directory
}
