// References used in configs & process

params {
    // Defaults

    workflow.output.mode    = 'copy'

    // Input Manager
    user                    = env('USER')
    inputDir                = "/home/${params.user}/input"
    hostGenome              = "${params.input}/genomes/host.fna"
    phageGenome             = "${params.input}/genomes/phage.fna"
    hostGFF                 = "${params.input}/genomes/host.gff"
    phageGFF                = "${params.input}/genomes/phage.gff"

    pairedEnd               = false //if calling --pairedEnd, read pairs will be collected

    reads                   = "${params.input}/reads/*.fast*"
    outputDir               = "/output"

    adapter1                = "AGATCGGAAGAGCACACGTCTGAACTCCAGTCA"
    adapter2                = "AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT"

    countFeature            = "gene"
    featureIdentifier       = "ID"

    // shows help message
    help                    = false
    // make help message verbose
    verbose                       = false

    // Conda environments
    
    conda_path = "/home/${params.user}/miniconda3/envs" // e.g. /home/user/miniconda3/envs --> important to direct down until envs directory
}
