// References used in configs & process

params {
    // Defaults
     
    // workflow.output.mode    = 'copy' // uncomment to copy output files to output directory, rather than symlink to them (increases storage requirements if using --fetchSRR)

    // Input Manager
    user                    = env('USER')
    inputDir                = "/home/${params.user}/input"
    
    hostGenome              = "${params.inputDir}/genomes/host.fna"
    phageGenome             = "${params.inputDir}/genomes/phage.fna"
    hostGFF                 = "${params.inputDir}/genomes/host.gff"
    phageGFF                = "${params.inputDir}/genomes/phage.gff"

    pairedEnd               = false //if calling --pairedEnd, read pairs will be collected

    srrList                 = false //if calling --srrList, reads will be fetched from list of SRR numbers

    reads                   = "${params.inputDir}/reads/*.fast*"
    outputDir               = "/output"

    adapter1                = "AGATCGGAAGAGCACACGTCTGAACTCCAGTCA"
    adapter2                = "AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT"

    countFeature            = "gene"
    featureIdentifier       = "ID"

    // shows help message
    help                    = false
    // make help message verbose
    verbose                 = false

    // Conda environments
    
    conda_path = "/home/${params.user}/miniconda3/envs" // e.g. /home/user/miniconda3/envs --> important to direct down until envs directory
}
